<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
	
<beans>
	<!-- Example of SAF2 action instantiated by Spring -->
    <bean
        id="loginAction"
        class="org.fct.unl.pt.cikp.actions.login.Login" singleton="false" />
    <bean
        id="loginSupport"
        class="org.fct.unl.pt.cikp.actions.login.LoginSuport" singleton="false" />
    <bean
        id="registerAction"
        class="org.fct.unl.pt.cikp.actions.register.Register" singleton="false" />
    <bean
        id="registerSupport"
        class="org.fct.unl.pt.cikp.actions.register.RegisterSuport" singleton="false" />
    <bean
        id="userSupport"
        class="org.fct.unl.pt.cikp.actions.user.UserSupport" singleton="false" />
    <bean
        id="defineActorAction"
        class="org.fct.unl.pt.cikp.actions.user.DefineActor" singleton="false" />
    <bean
        id="defineKnowledgeItemAction"
        class="org.fct.unl.pt.cikp.actions.knowledge.item.DefineKnowledgeItem" singleton="false" />
    <bean
        id="subscribeKnowledgeItemAction"
        class="org.fct.unl.pt.cikp.actions.knowledge.item.SubscribeKnowledgeItem" singleton="false" />
    <bean
        id="knowledgeItemSupport"
        class="org.fct.unl.pt.cikp.actions.knowledge.item.KnowledgeItemSupport" singleton="false" />
    <bean
        id="ServiceAction"
        class="org.fct.unl.pt.cikp.actions.ajax.ServiceAction" />
    <bean
        id="administratorAction"
        class="org.fct.unl.pt.cikp.actions.administrator.Administrator" />
    <bean
        id="administratorSupport"
        class="org.fct.unl.pt.cikp.actions.administrator.AdministratorSupport" />
    <bean
        id="downloadOntAction"
        class="org.fct.unl.pt.cikp.actions.administrator.DownloadOnt" />
    <bean
        id="organizationSupport"
        class="org.fct.unl.pt.cikp.actions.organization.OrganizationSupport" />
    <bean
        id="defineOrganizationAction"
        class="org.fct.unl.pt.cikp.actions.organization.DefineOrganization" />
    <!--<bean
        id="userService"
        class="org.fct.unl.pt.cikp.service.user.UserServiceImpl" /> -->
    <bean
        id="cikpService"
        class="org.fct.unl.pt.cikp.service.CikpServiceImpl" />
</beans>

